---
import RedirectButton from './RedirectButton.astro';
import Delete from './icons/DeleteIcon.astro';
import Edit from './icons/EditIcon.astro';
const { baul } = Astro.props;
---

<tr>
  <td>{baul.id}</td>
  <td>{baul.plataforma}</td>
  <td>{baul.usuario}</td>
  <td>{baul.clave}</td>
  <td>
    <RedirectButton width="45" height="45" href={`/edit/${baul.id}`}>
      <Edit  />
    </RedirectButton>
    <RedirectButton width="45" height="45" href={`/edit/${baul.id}`}>
      <Delete  />
    </RedirectButton>
  </td>
</tr>

